@use 'styles/variables';
@use 'styles/mixins';

.navbar {
  background: variables.$accent;
  height: variables.$navbar-height;
  position: sticky;
  top: 0;
  z-index: 1;

  &__content {  
    align-items: center;
    color: white;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    justify-content: space-between;
    text-transform: uppercase;

    @include mixins.limit-desktop;

    button {
      width: 4rem;
    }
  }
}

.expense-list {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - variables.$navbar-height);

  @include mixins.limit-desktop;

  &__list {
    flex: 1;
    // overflow: auto;
    padding-bottom: 10px;
    position: relative;

   &__date {
      &__header {
        background: lightgray;
        padding: 5px 10px;
      }

      &__data {
        &__expense {
          background: none;
          border: 0;
          border-bottom: 1px solid lightgray;
          display: flex;
          gap: 10px;
          justify-content: space-between;
          padding: 5px 10px;
          width: 100%;

          &:hover {
            background: variables.$accent-secondary;
          }

          &__description {
            font-size: 1.1rem;
            text-align: left;
            word-break: break-word;

            small {
              color: gray;
              font-size: 0.8rem;
            }
          }

          &__amount {
            align-content: center;
            font-size: 1.4rem;
            font-weight: 500;
            min-width: 30%;
            text-align: right;
          }
        }
      }
    }

    &__add {
      align-items: center;
      background: variables.$accent-secondary;
      border-radius: 50%;
      color: variables.$accent;
      font-size: 3rem;
      display: flex;
      bottom: 1rem;
      height: 4rem;
      justify-content: center;
      padding: 10px;
      right: 1rem;
      position: absolute;
      width: 4rem;
    }
  }

  &__summary {
    align-items: stretch;
    background: white;
    bottom: 0;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    position: sticky;
  
    div:first-child {
      align-items: center;
      border-top: 2px solid lightgray;
      display: flex;
      flex: 1;
      padding: 10px;
    }

    div:last-child {
      background: variables.$accent;
      color: white;
      font-size: 1.5rem;
      padding: 10px 20px;
      height: 100%;
    }
  }
}

.expense-form {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;

  form {
    flex: 1;
    padding: 0 20px 10px;
    width: 100%;

    @include mixins.limit-desktop;

    span {
      background: variables.$accent-secondary;
      display: block;
      font-size: 0.8rem;
      margin-bottom: 10px;
      padding: 5px;
    }

    input,
    textarea {
      appearance: textfield;
      border: 0;
      border-bottom: 1px solid lightgray;
      display: block;
      margin-bottom: 20px;
      outline: none;
      padding: 5px;
      width: 100%;

      &:read-only {
        pointer-events: none;
      }
    }
  }

  &__header {
    border-bottom: 1px solid lightgray;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-size: 1.5rem;
      margin: 1rem 0;
    }

    button {
      background: red;
      color: white;
      padding: 10px;
      height: 3rem;
      margin: 1rem 0;
      width: 3rem;
    }
  }

  &__calendar {
    border: 1px solid variables.$accent;

    &__slider {
      align-items: center;
      background: variables.$accent;
      color: white;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      button {
        width: 4rem;
      }
    }

    &__week {
      display: flex;

      &__date, button {
        aspect-ratio: 1 / 1;
        background: none;
        border: 0;
        flex: 1;

        @include mixins.desktop {
          aspect-ratio: 2 / 1;
        }

        &:first-child {
          color: red;
        }

        &:hover:not(:disabled) {
          background: variables.$accent-secondary;
        }

        &--active {
          background: variables.$accent !important;
          color: white !important;
        }
      }
    }
  }

  &__categories {
    margin-bottom: 20px;

    &__category {
      border: 2px solid variables.$accent;
      margin: 0 5px 5px 0;
      padding: 5px 10px;

      &--active {
        background: variables.$accent;
        color: white;
      }
    }
  }

  &__buttons {
    background: white;
    border-top: 1px solid lightgray;
    bottom: 0;
    display: flex;
    gap: 5px;
    padding: 10px 20px;
    position: sticky;
    width: 100%;

    @include mixins.limit-desktop;

    button {
      background: variables.$accent;
      border: 0;
      color: white;
      font-size: 1.5rem;
      padding: 5px 10px;
      width: 100%;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:first-child {
        background: variables.$accent-secondary;
        color: black;
        min-width: 4rem;
        width: 10%;
      }
    }
  }
}