@use 'styles/mixins';

body {
  color: black;
  font-size: 14px;
  margin: 0;
  position: relative;

  @include mixins.desktop {
    font-size: 16px;
  }

  * {
    box-sizing: border-box;
    font-family: "DM Mono", sans-serif;
    font-size: 1rem;
  }
}

button {
  color: inherit;
  font-size: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.text-button {
  background: none;
  border: 0;
}